In [1]:
from datetime import datetime
import pandas as pd
import numpy as np

In [362]:
def convert_written_date_to_number(date_str):
    # Define mapping of month abbreviations to month numbers
    month_map = {
        'JAN': 1, 'FEB': 2, 'MAR': 3, 'APR': 4,
        'MAY': 5, 'JUN': 6, 'JUL': 7, 'AUG': 8,
        'SEP': 9, 'OCT': 10, 'NOV': 11, 'DEC': 12
    }
    
    # Extract day, month abbreviation, and year from date string
    day = int(date_str[:2])
    month_abbr = date_str[2:5]
    year = int('20' + date_str[5:])
    
    # Convert month abbreviation to month number
    month_num = month_map[month_abbr]
    
    # Create a datetime object with the extracted values
    date = datetime(year, month_num, day)
    
    return date.strftime('%d/%m/%Y')

In [363]:
df = pd.read_csv(f"~/Desktop/Bank Statements/csv/tabula-Statements_Mar-20.csv", header=None, names=["Date", "Date2", "Description", "Value"])

# Initialize empty lists to store cleaned data
cleaned_dates = []
cleaned_descriptions = []
cleaned_values = []

# Initialize variables to hold current transaction data
current_date = None
current_description = ""
current_value = None

In [364]:
# Loop through each row in the DataFrame
for index, row in df.iterrows():
    if not pd.isnull(row["Date"]):
        # If a new date is found, it indicates the end of the previous transaction
        # Add the cleaned data from the previous transaction into the lists
        if current_date is not None:
            cleaned_dates.append(current_date)
            cleaned_descriptions.append(current_description)
            cleaned_values.append(current_value)
        
        # Update the current transaction data with the values from the current row
        current_date = row["Date"]
        current_description = row["Description"]
        current_value = row["Value"]
    else:
        # If the row does not have a date, it contains part of the description
        # Append the description to the current transaction's description
        current_description += " " + str(row["Description"])

In [365]:
# Add the last transaction's data after reaching the end of the loop
if current_date is not None:
    cleaned_dates.append(current_date)
    cleaned_descriptions.append(current_description)
    cleaned_values.append(current_value)

In [366]:
# Create a new DataFrame from the cleaned data
cleaned_df = pd.DataFrame({
    "Date": cleaned_dates,
    "Txn Date": cleaned_dates,
    "Narrative": cleaned_descriptions,
    "Value": cleaned_values
})

In [367]:
cleaned_df["Credit"] = np.nan
cleaned_df["Debit"] = np.nan

In [368]:
cleaned_df

,Date,Txn Date,Narrative,Value,Credit,Debit
0,23/02,23/02,MARKUP FEES CAIRO,4.95,NaN,NaN
1,23/02,23/02,MARKUP FEES CAIRO,1.50,NaN,NaN
2,24/02,24/02,MARKUP FEES CAIRO,2.25,NaN,NaN
3,8/03,8/03,MARKUP FEES CAIRO,1.44,NaN,NaN
4,17/03,17/03,MARKUP FEES CAIRO,.57,NaN,NaN
5,20/02,20/02,STARBUCKS DRIVE THRU CAIRO N. -07A,40.00,NaN,NaN
6,21/02,21/02,Netflix.com INTERNET,165.00,NaN,NaN
7,21/02,21/02,APPLE.COM/BILL ITUNES.COM,49.99,NaN,NaN
8,22/02,22/02,APPLE.COM/BILL ITUNES.COM,74.99,NaN,NaN
9,23/02,23/02,EMARAT MISR-RING ROAD CAIRO N. -07A,215.00,NaN,NaN
10,23/02,23/02,EMARAT MISR-RING ROAD CAIRO N. -07A,44.00,NaN,NaN
11,23/02,23/02,myfawry Maadi,202.50,NaN,NaN
12,23/02,23/02,myfawry Maadi,62.50,NaN,NaN
13,23/02,23/02,STARBUCKS DRIVE THRU CAIRO N. -07A,96.00,NaN,NaN
14,25/02,25/02,STARBUCKS WATERWAY CAIRO N. -07A,35.00,NaN,NaN
15,26/02,26/02,MOBIL STATION ELNOUR CAIRO,245.00,NaN,NaN
16,28/02,28/02,Uber BV Cairo,58.12,NaN,NaN
17,29/02,29/02,Uber BV Cairo,12.00,NaN,NaN
18,29/02,29/02,TOTAL FUEL 112617 CAIRO N. -07C,80.00,NaN,NaN
19,29/02,29/02,Myfawry Maadi,348.39,NaN,NaN
20,1/03,1/03,A&W FOR TRADING - CHILL OUT 6TH OCT. -01A,98.00,NaN,NaN
21,1/03,1/03,EMARAT MISR - C.F.C CAIRO E07E,49.00,NaN,NaN
22,1/03,1/03,EMARAT MISR - C.F.C CAIRO E07E,315.00,NaN,NaN
23,1/03,1/03,STARBUCKS DRIVE THRU CAIRO N. -07A,96.00,NaN,NaN
24,5/03,5/03,TOTAL BONJOUR 116082 6TH OCT. -01A,75.50,NaN,NaN
25,5/03,5/03,Myfawry Maadi,96.75,NaN,NaN
26,5/03,5/03,Myfawry Maadi,242.61,NaN,NaN
27,6/03,6/03,APPLE.COM/BILL ITUNES.COM,47.99,NaN,NaN
28,7/03,7/03,Uber BV Cairo,14.39,NaN,NaN
29,8/03,8/03,Otlob.com Cairo,101.10,NaN,NaN
30,9/03,9/03,Otlob.com Cairo,155.00,NaN,NaN
31,9/03,9/03,PayMob Accept Downtown,280.00,NaN,NaN
32,15/03,15/03,LINCONTRO CAIRO,1034.21,NaN,NaN
33,16/03,16/03,APPLE.COM/BILL ITUNES.COM,18.99,NaN,NaN
34,16/03,16/03,MCDONALD،S CHILLOUT DE 6TH OCT. - 01A,95.50,NaN,NaN
35,16/03,16/03,STARBUCKS COFFEED 6TH OCT. -01A,67.00,NaN,NaN
36,18/03,18/03,DECATHLON EGYPT - CFC CAIRO E. -07C,1146.00,NaN,NaN
37,15/03,15/03,Payment - Direct Debit,6339.39 CR,NaN,NaN
38,1/03,1/03,Solidarity Scheme CLOSING BALANCE,5.00,NaN,NaN

In [369]:
for index, row in cleaned_df.iterrows():
    value = row["Value"]
    if "CR" in value:
        credit_value = value.replace("CR", "").replace(",", "").strip()
        cleaned_df.loc[index, "Credit"] = credit_value
    else:
        cleaned_df.loc[index, "Debit"] = value.replace(",", "").strip()

In [370]:
cleaned_df.drop(["Value",], axis=1, inplace=True)

In [371]:
cleaned_df

,Date,Txn Date,Narrative,Credit,Debit
0,23/02,23/02,MARKUP FEES CAIRO,NaN,4.95
1,23/02,23/02,MARKUP FEES CAIRO,NaN,1.50
2,24/02,24/02,MARKUP FEES CAIRO,NaN,2.25
3,8/03,8/03,MARKUP FEES CAIRO,NaN,1.44
4,17/03,17/03,MARKUP FEES CAIRO,NaN,.57
5,20/02,20/02,STARBUCKS DRIVE THRU CAIRO N. -07A,NaN,40.00
6,21/02,21/02,Netflix.com INTERNET,NaN,165.00
7,21/02,21/02,APPLE.COM/BILL ITUNES.COM,NaN,49.99
8,22/02,22/02,APPLE.COM/BILL ITUNES.COM,NaN,74.99
9,23/02,23/02,EMARAT MISR-RING ROAD CAIRO N. -07A,NaN,215.00
10,23/02,23/02,EMARAT MISR-RING ROAD CAIRO N. -07A,NaN,44.00
11,23/02,23/02,myfawry Maadi,NaN,202.50
12,23/02,23/02,myfawry Maadi,NaN,62.50
13,23/02,23/02,STARBUCKS DRIVE THRU CAIRO N. -07A,NaN,96.00
14,25/02,25/02,STARBUCKS WATERWAY CAIRO N. -07A,NaN,35.00
15,26/02,26/02,MOBIL STATION ELNOUR CAIRO,NaN,245.00
16,28/02,28/02,Uber BV Cairo,NaN,58.12
17,29/02,29/02,Uber BV Cairo,NaN,12.00
18,29/02,29/02,TOTAL FUEL 112617 CAIRO N. -07C,NaN,80.00
19,29/02,29/02,Myfawry Maadi,NaN,348.39
20,1/03,1/03,A&W FOR TRADING - CHILL OUT 6TH OCT. -01A,NaN,98.00
21,1/03,1/03,EMARAT MISR - C.F.C CAIRO E07E,NaN,49.00
22,1/03,1/03,EMARAT MISR - C.F.C CAIRO E07E,NaN,315.00
23,1/03,1/03,STARBUCKS DRIVE THRU CAIRO N. -07A,NaN,96.00
24,5/03,5/03,TOTAL BONJOUR 116082 6TH OCT. -01A,NaN,75.50
25,5/03,5/03,Myfawry Maadi,NaN,96.75
26,5/03,5/03,Myfawry Maadi,NaN,242.61
27,6/03,6/03,APPLE.COM/BILL ITUNES.COM,NaN,47.99
28,7/03,7/03,Uber BV Cairo,NaN,14.39
29,8/03,8/03,Otlob.com Cairo,NaN,101.10
30,9/03,9/03,Otlob.com Cairo,NaN,155.00
31,9/03,9/03,PayMob Accept Downtown,NaN,280.00
32,15/03,15/03,LINCONTRO CAIRO,NaN,1034.21
33,16/03,16/03,APPLE.COM/BILL ITUNES.COM,NaN,18.99
34,16/03,16/03,MCDONALD،S CHILLOUT DE 6TH OCT. - 01A,NaN,95.50
35,16/03,16/03,STARBUCKS COFFEED 6TH OCT. -01A,NaN,67.00
36,18/03,18/03,DECATHLON EGYPT - CFC CAIRO E. -07C,NaN,1146.00
37,15/03,15/03,Payment - Direct Debit,6339.39,NaN
38,1/03,1/03,Solidarity Scheme CLOSING BALANCE,NaN,5.00

In [372]:
cleaned_df["Credit"].replace(np.nan, "", inplace=True)
cleaned_df["Debit"].replace(np.nan, "", inplace=True)

In [373]:
cleaned_df.to_csv(f"../bank_statements/raw/15.csv", index=False)