In [23]:
from datetime import datetime
import pandas as pd

In [24]:
def convert_written_date_to_number(date_str):
    # Define mapping of month abbreviations to month numbers
    month_map = {
        'JAN': 1, 'FEB': 2, 'MAR': 3, 'APR': 4,
        'MAY': 5, 'JUN': 6, 'JUL': 7, 'AUG': 8,
        'SEP': 9, 'OCT': 10, 'NOV': 11, 'DEC': 12
    }
    
    # Extract day, month abbreviation, and year from date string
    day = int(date_str[:2])
    month_abbr = date_str[2:5]
    year = int('20' + date_str[5:])
    
    # Convert month abbreviation to month number
    month_num = month_map[month_abbr]
    
    # Create a datetime object with the extracted values
    date = datetime(year, month_num, day)
    
    return date.strftime('%d/%m/%Y')

In [25]:
file_name = "8.csv"

In [81]:
# Load the dataset into a pandas DataFrame
df = pd.read_csv(f"../tabula-statements/hema/4.csv", header=None, names=["Date", "Description", "Debit", "Credit"], index_col=False)

# Initialize empty lists to store cleaned data
cleaned_dates = []
cleaned_descriptions = []
cleaned_debits = []
cleaned_credits = []

# Initialize variables to hold current transaction data
current_date = None
current_description = ""
current_debit = None
current_credit = None

In [82]:
# Loop through each row in the DataFrame
for index, row in df.iterrows():
    if not pd.isnull(row["Date"]):
        # If a new date is found, it indicates the end of the previous transaction
        # Add the cleaned data from the previous transaction into the lists
        if current_date is not None:
            cleaned_dates.append(current_date)
            cleaned_descriptions.append(current_description)
            cleaned_debits.append(current_debit)
            cleaned_credits.append(current_credit)
        
        # Update the current transaction data with the values from the current row
        current_date = row["Date"]
        current_description = row["Description"]
        current_debit = row["Debit"]
        current_credit = row["Credit"]
    else:
        # If the row does not have a date, it contains part of the description
        # Append the description to the current transaction's description
        current_description += " " + str(row["Description"])

In [83]:
# Add the last transaction's data after reaching the end of the loop
if current_date is not None:
    cleaned_dates.append(current_date)
    cleaned_descriptions.append(current_description)
    cleaned_debits.append(current_debit)
    cleaned_credits.append(current_credit)

In [84]:
# Create a new DataFrame from the cleaned data
cleaned_df = pd.DataFrame({
    "Date": cleaned_dates,
    "Txn Date": cleaned_dates,
    "Narrative": cleaned_descriptions,
    "Debit": cleaned_debits,
    "Credit": cleaned_credits
})

In [85]:
cleaned_df.dropna(subset=["Narrative"], inplace=True)

In [86]:
cleaned_df

,Date,Txn Date,Narrative,Debit,Credit
0,31DEC21,31DEC21,OPENING BALANCE,NaN,1.54
1,05JAN22,05JAN22,Online Transfer FT22005VXMPB\BNK - Transfer to...,NaN,65.00
2,30JAN22,30JAN22,Fees Account Transfer FT22030QFJSW\A01 EASY AC...,10.00,NaN
3,30JAN22,30JAN22,POS PURCHASE FT22030MPFG0\BNK PAYPAL SPOTIFY 3...,51.49,NaN
4,31JAN22,31JAN22,Credit Interest 100038175321-20220131,NaN,0.01
5,03FEB22,03FEB22,ATM DEPOSIT FT2203407CNF\BNK CIB MOBILE EL NAR...,NaN,"3,500.00"
6,07FEB22,07FEB22,POS PURCHASE FT22038NTQ9X\BNK Orange Egypt 1 E...,115.00,NaN
7,08FEB22,08FEB22,POS PURCHASE FT22039DFNDR\BNK APPLE COM BILL I...,41.19,NaN
8,09FEB22,09FEB22,ATM WITHDRAWAL FT220408WGFV\BNK CIB TOLIP CLUB...,100.00,"3,248.87"
9,10FEB22,10FEB22,POS PURCHASE FT22041417DC\BNK Talabat Cairo EG...,121.00,"3,127.87"
10,14FEB22,14FEB22,POS PURCHASE FT22045ZSZGS\BNK TBSW Knowledge H...,69.60,NaN
11,14FEB22,14FEB22,POS PURCHASE FT22045450YQ\BNK Talabat Cairo EG...,96.89,NaN
12,14FEB22,14FEB22,ATM WITHDRAWAL FT22045Q3WFJ\BNK CIB TOLIP CLUB...,"1,000.00","1,961.38"
13,22FEB22,22FEB22,POS PURCHASE FT22053Y47TW\BNK FLAMINGO CAIRO N...,15.57,"1,945.81"
14,24FEB22,24FEB22,POS PURCHASE FT22055526DZ\BNK MOBIL CAIRO EG 5...,200.00,"1,745.81"
15,27FEB22,27FEB22,Fees Account Transfer FT220588SVN3\A01 EASY AC...,10.00,NaN
16,27FEB22,27FEB22,POS PURCHASE FT220586LCR8\BNK MOBILATY MOBILAT...,999.00,NaN
17,28FEB22,28FEB22,POS PURCHASE FT220598252R\BNK PAYPAL SPOTIFY 3...,51.49,NaN
18,28FEB22,28FEB22,Credit Interest 100038175321-20220228,NaN,0.02
19,03MAR22,03MAR22,POS PURCHASE FT22062SBCMG\BNK Orange Egypt 1 E...,15.00,NaN
20,03MAR22,03MAR22,POS PURCHASE FT2206284RTZ\BNK Orange Egypt 1 E...,108.00,NaN
21,08MAR22,08MAR22,POS PURCHASE FT22067GB2RM\BNK ELMENUS CAIRO S ...,105.00,NaN
22,10MAR22,10MAR22,POS PURCHASE FT22069NQTPF\BNK Orange Egypt 1 E...,115.00,NaN
23,13MAR22,13MAR22,POS PURCHASE FT220722YL9X\BNK RAYA SUPERMARKET...,291.65,NaN
24,13MAR22,13MAR22,ATM DEPOSIT FT22072WJLTH\BNK CIB MOBILE EL NAR...,NaN,200.00
25,15MAR22,15MAR22,POS PURCHASE FT2207476593\BNK G2A COM AMSTERDA...,170.77,NaN
26,15MAR22,15MAR22,ATM DEPOSIT FT220745N9QF\BNK CIB MOBILE EL NAR...,NaN,400.00
27,20MAR22,20MAR22,POS PURCHASE FT22079GKPH0\BNK TAZKARTI GIZA EG...,350.00,NaN
28,21MAR22,21MAR22,POS PURCHASE FT2208085SJ9\BNK Orange Egypt 1 E...,115.00,NaN
29,31MAR22,31MAR22,Fees Account Transfer FT220906BJ3K\B09 EASY AC...,10.00,NaN
30,31MAR22,31MAR22,Credit Interest 100038175321-20220331 CLOSING ...,NaN,0.02

In [87]:
assert False, "breakpoint"

AssertionError: breakpoint

In [88]:
cleaned_df = cleaned_df.iloc[1:]

In [89]:
cleaned_df

,Date,Txn Date,Narrative,Debit,Credit
1,05JAN22,05JAN22,Online Transfer FT22005VXMPB\BNK - Transfer to...,NaN,65.00
2,30JAN22,30JAN22,Fees Account Transfer FT22030QFJSW\A01 EASY AC...,10.00,NaN
3,30JAN22,30JAN22,POS PURCHASE FT22030MPFG0\BNK PAYPAL SPOTIFY 3...,51.49,NaN
4,31JAN22,31JAN22,Credit Interest 100038175321-20220131,NaN,0.01
5,03FEB22,03FEB22,ATM DEPOSIT FT2203407CNF\BNK CIB MOBILE EL NAR...,NaN,"3,500.00"
6,07FEB22,07FEB22,POS PURCHASE FT22038NTQ9X\BNK Orange Egypt 1 E...,115.00,NaN
7,08FEB22,08FEB22,POS PURCHASE FT22039DFNDR\BNK APPLE COM BILL I...,41.19,NaN
8,09FEB22,09FEB22,ATM WITHDRAWAL FT220408WGFV\BNK CIB TOLIP CLUB...,100.00,"3,248.87"
9,10FEB22,10FEB22,POS PURCHASE FT22041417DC\BNK Talabat Cairo EG...,121.00,"3,127.87"
10,14FEB22,14FEB22,POS PURCHASE FT22045ZSZGS\BNK TBSW Knowledge H...,69.60,NaN
11,14FEB22,14FEB22,POS PURCHASE FT22045450YQ\BNK Talabat Cairo EG...,96.89,NaN
12,14FEB22,14FEB22,ATM WITHDRAWAL FT22045Q3WFJ\BNK CIB TOLIP CLUB...,"1,000.00","1,961.38"
13,22FEB22,22FEB22,POS PURCHASE FT22053Y47TW\BNK FLAMINGO CAIRO N...,15.57,"1,945.81"
14,24FEB22,24FEB22,POS PURCHASE FT22055526DZ\BNK MOBIL CAIRO EG 5...,200.00,"1,745.81"
15,27FEB22,27FEB22,Fees Account Transfer FT220588SVN3\A01 EASY AC...,10.00,NaN
16,27FEB22,27FEB22,POS PURCHASE FT220586LCR8\BNK MOBILATY MOBILAT...,999.00,NaN
17,28FEB22,28FEB22,POS PURCHASE FT220598252R\BNK PAYPAL SPOTIFY 3...,51.49,NaN
18,28FEB22,28FEB22,Credit Interest 100038175321-20220228,NaN,0.02
19,03MAR22,03MAR22,POS PURCHASE FT22062SBCMG\BNK Orange Egypt 1 E...,15.00,NaN
20,03MAR22,03MAR22,POS PURCHASE FT2206284RTZ\BNK Orange Egypt 1 E...,108.00,NaN
21,08MAR22,08MAR22,POS PURCHASE FT22067GB2RM\BNK ELMENUS CAIRO S ...,105.00,NaN
22,10MAR22,10MAR22,POS PURCHASE FT22069NQTPF\BNK Orange Egypt 1 E...,115.00,NaN
23,13MAR22,13MAR22,POS PURCHASE FT220722YL9X\BNK RAYA SUPERMARKET...,291.65,NaN
24,13MAR22,13MAR22,ATM DEPOSIT FT22072WJLTH\BNK CIB MOBILE EL NAR...,NaN,200.00
25,15MAR22,15MAR22,POS PURCHASE FT2207476593\BNK G2A COM AMSTERDA...,170.77,NaN
26,15MAR22,15MAR22,ATM DEPOSIT FT220745N9QF\BNK CIB MOBILE EL NAR...,NaN,400.00
27,20MAR22,20MAR22,POS PURCHASE FT22079GKPH0\BNK TAZKARTI GIZA EG...,350.00,NaN
28,21MAR22,21MAR22,POS PURCHASE FT2208085SJ9\BNK Orange Egypt 1 E...,115.00,NaN
29,31MAR22,31MAR22,Fees Account Transfer FT220906BJ3K\B09 EASY AC...,10.00,NaN
30,31MAR22,31MAR22,Credit Interest 100038175321-20220331 CLOSING ...,NaN,0.02

In [90]:
cleaned_df["Date"] = cleaned_df["Date"].apply(convert_written_date_to_number)
cleaned_df["Txn Date"] = cleaned_df["Txn Date"].apply(convert_written_date_to_number)

/var/folders/n8/fx58pk156kzbywrs2435cgw80000gn/T/ipykernel_65860/3243905236.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df["Date"] = cleaned_df["Date"].apply(convert_written_date_to_number)
/var/folders/n8/fx58pk156kzbywrs2435cgw80000gn/T/ipykernel_65860/3243905236.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df["Txn Date"] = cleaned_df["Txn Date"].apply(convert_written_date_to_number)

In [91]:
cleaned_df.to_csv(f"../bank_statements/raw/19.csv", index=False)